.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baseContainer {
    width: 1120px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.col-2Container {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    aside {
        width: 30%;
    }
    main {
        width: 60%;
    }
}

.loginContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 100px;
        margin-left: 50px;
        width: 400px;
        height: 90%;
        background-color: rgba(255,255,255,0.7);
        box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    }
    background-image: url(https://www.xtrafondos.com/descargar.php?id=6286&resolucion=3840x2160);
    background-repeat: no-repeat;
    background-size: cover;
}