nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 50px;
    font-size: 14px;
    z-index: 100;
    .logo {
        height: 30px;
        transition: .2s;
        &:hover {
            transition: .2s;
            box-shadow: $box-shadow;
            transform: scale(1.05);
        }
    }
    ul {
        display: flex;
        list-style: none;
        color: black;
        margin: 0px;
        &:active {
            color: black;
        }
        &:focus {
            color: black;
        }
        li {
            padding: 10px 20px;
        }
        .dropdown.dropdownMenu {
            ul {
                margin-top: 10px;
                margin-left: -10px;
                padding: 10px 10px;
                background: white;
                border-radius: 5px;
                box-shadow: 2px 3px 8px rgba(0,0,0,0.16);
                li {
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        background-color: $hoverGreyBackground;
                    }
                }
            }
        }
    }
}