form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px;
    input {
        @extend .input;
    }
    textarea {
        @extend .input;
        resize: none;
        height: 200px;
    }
    select {
        @extend .input;
    }
    .mobiscroll-select {
        margin: 5px 0px !important;
        box-shadow: $box-shadow;
        .mbsc-textfield-tags-placeholder {
            @extend .placeholder;
        }
    }
    .col1-2 {
        width: 49%;
    }
    .col1-3 {
        width: 32%;
    }
    .col15 {
        width: 15%;
    }
    .col85 {
        width: 83%;
    }
    .full {
        width: 100%;
    }
    button {
        margin-top: 5px;
        width: 100%;
    }
}

.input {
    display: flex;
    margin-bottom: 10px;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.08);
    &::placeholder {
        @extend .placeholder;
    }
}

.placeholder {
    color: rgb(92, 92, 92);
    font-size: 12px;
}

.edit-field-wrapper {
    position: relative;

}

.disabled {
    background-color: rgb(219, 219, 219);
}