* {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Use the custom properties defined in .dark-mode / .light-mode */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
  color: var(--accent-color);
}



a {
    text-decoration: none;
    cursor: pointer;
    &:visited {
        color: rgb(0, 78, 156);
    }
    &:hover {
        color: rgb(0, 102, 204);
    }
    &:active {
        color: rgb(0, 102, 204);
    }
}

.clickable {
    margin: 0px;
    cursor: pointer;
}

.glass {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(255, 255, 255, 0.36);
}