* {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background-color: $backgroundColor;
    margin: 0px;
}
#root {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:visited {
        color: rgb(0, 78, 156);
    }
    &:hover {
        color: rgb(0, 102, 204);
    }
    &:active {
        color: rgb(0, 102, 204);
    }
}

.clickable {
    margin: 0px;
    cursor: pointer;
}

.glass {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(255, 255, 255, 0.36);
}