.single_page-person_image {
    height: 250px;
    max-width: 250px;
    object-fit: cover;
}

.single_person-header {
    display: flex;
    align-items: flex-end;
    padding: 20px 0px;
    img {
        margin-right: 50px;
    }
}